@font-face {
    font-family:'Sofia Pro';
    src: url(fonts/Sofia\ Pro\ UltraLight.ttf);
  }
body{overflow-x: hidden;}
.first{
    background: linear-gradient(180deg, rgba(245, 71, 72, 0.06) 0%, rgba(245, 71, 72, 0) 100%);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:100%;
}
#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 660px;
    height: 24px;
    gap: 50px;
    margin-top: 2%;
    margin-right: 20%;
}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 121px;
    height:78px;
    margin-left: 1%;
    margin-top: 1%;
}
#sandwich{
    width: 36px;
    height:27px ;
    margin-right: 24px;
    margin-top: 24px;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
#People_trust_u img{
    width: 139px;
    height: 28px;
    margin-top: 65px;
    margin-left: 33px;
}
#title_1{
    width: 380px;
    height: 195px;
    margin-left: 24px;
    margin-top: 20px;
    font-family: 'Sofia Pro';
    font-weight:900;
    font-size: 48px;
    line-height: 64.8px;
    letter-spacing: 0%;
}
#red img{
    width:263px ;
    height:8.2px;
    margin-top: 2px;
    margin-left: -5px;
}
#text_1{
    margin-top: 29.8px;
    margin-left: 24px;
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 20px;
    line-height: 26.84px;
    letter-spacing: -1%;
    opacity: 80%;
}
#searchtext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}
#part2-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#WatchVideo{
    /* width: 110px;
    height: 26px; */
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0%;
    color: rgba(104, 109, 119, 1);
}
.part2{
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
    justify-content: space-around;
    align-items: center;
}
#red_button{
    background-color:rgba(245, 71, 72, 1);
    color: white;
    width: 162px;
    height: 45px;
    border-radius: 100px;
    border: 0;
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 24.16px;
    letter-spacing: 0px;
}
#red_button_2{
    background-color:rgba(245, 71, 72, 1);
    color: white;
    width: 162px;
    height: 45px;
    border-radius: 100px;
    border: 0;
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 24.16px;
    letter-spacing: 0px;
    margin-top: 2%;
    margin-left: -36%;
    margin-right: 6%;

}
#Group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin-left: 1%;
}
#girl img{
    width: 105%;
    height: 85%;
}
#search_box input{
    width: 33vw;
    height: 8vh;
    border-radius: 42px;
    border: 0.86px;
    border: 0.86px solid #FFFFFF99;
    backdrop-filter: blur(8px);
    background: #FFFFFF26;
    border-color: rgb(117, 117, 117) ;
    margin-left: 24px;
    margin-right: 24px;
}
::placeholder{
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    padding-left: 10px;
    color: #000000;
}

#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 30px;
}
#search button{
    width: 45px;
    height: 45px;
    background-color: #FDC55E;
    margin-left: -72px;
    position: relative;
    border-radius: 100%;
}

.secound{
    background-color: white;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:100%;
    margin-left: 0%;
    margin-right: 0%;
}
.secound{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Today{
    /* width: 353px;
    height: 134px; */
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 48px;
    line-height: 67.2px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}
#lorem{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 24.16px;
    letter-spacing: 0px;
    text-align: center;
    opacity: 80%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
}
#pic_1 img{
    width: 22vw;
    height: 516px;
}
#pic_2 img{
    width: 22vw;
    height: 516px;
}
#pic_3 img{
    width: 22vw;
    height: 516px;
}
#pic_4 img{
    width: 22vw;
    height: 516px;
}
#pic_1_2 img{
    width: 22vw;
    height: 516px;
}
#pic_2_2 img{
    width: 22vw;
    height: 516px;
}
#pic_3_2 img{
    width: 22vw;
    height: 516px;
}
#pic_4_2 img{
    width: 22vw;
    height: 516px;
}
#pic_1_3 img{
    width: 22vw;
    height: 516px;
}
#pic_2_3 img{
    width: 22vw;
    height: 516px;
}
#pic_3_3 img{
    width: 22vw;
    height: 516px;
}
#pic_4_3 img{
    width: 22vw;
    height: 516px;
}
#foods{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-left: 1.5%;
}
#foods_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-left: 1.5%;
    margin-bottom: 10%;
}
#foods_3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-left: 1.5%;
}

.chef{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#img_chef {
    height: 619px;
    width: 692px;
}
#img_chef img {
    height: 780px;
    width: 692px;
    overflow: hidden;
    margin-left: -15%;
}
#item_1{
    display: flex;
    flex-direction: column;
    gap: 2%;
}
#item_2{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.items{
    display: flex;
    flex-direction: row;
    gap: 40%;
}
#item_1_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
#item_1_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
#item_1_3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
#item_2_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
#item_2_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
#item_2_3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}


#icon{
    width: 26px;
    height: 26px;
}
#t{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 24.39px;
    letter-spacing: 0%;
    width: 104px;
    height: 24px;
    text-align: left;
}
#play{
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background-color: #F54748;
}
#text_part{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4%;
    margin-right: 10%;
    margin-left: -12%;
    margin-top: 6%;

}
#t_chef{
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 48px;
    line-height: 62.35px;
    letter-spacing: 0%;
}
#p_chef{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 24.16px;
    letter-spacing: 0%;
    width: 80%;
}
#AboutUs{
    background: #F54748;
    width: 114px;
    height: 45px;
    border-radius: 100px;
    border-color: white;
    font-family: 'Sofia Pro';
    color: white;
    font-size: 18px;
    margin-top: 0%;
}
#title_3{
    width: 643px;
    height: 134px;
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 48px;
    line-height: 67.2px;
    letter-spacing: 0%;
}
#group__3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    gap: 18px;
}
#googleApps{
    display: flex;
    flex-direction: row;
    gap: 15%;
}
#googleApps_1{
    width: 120px;
    height: 40px;
}
#googleApps_2{
    width: 120px;
    height: 40px;
}
#p_3{
    width: 550px;
    height: 72px;
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 24.16px;
    letter-spacing: 0%;
}    
.types{
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
    margin-bottom: 5%;
}
.types button{
    width: 98px;
    height: 44px;
    border-radius: 100px;
    padding: 12px;
    color: #000000;
    border: 10px;
    border-color: #858484;
}
.types button:hover{
    width: 98px;
    height: 44px;
    border-radius: 100px;
    padding: 12px;
    color: #ffffff;
    background-color: #F54748;
    border: 10px;
}
#group_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Menue{
    width: 653px;
    height: 134px;
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 48px;
    line-height: 67.2px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.fourth{
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FDC55E 73.18%); */
    width: 100%;
    height: 632px;
    /* opacity: 10%; */
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#chef_man img{
    width: 80%;
    height: 80%;
    margin-right: 20%;
}
@media (min-width:428px)
{
    #sandwich{
        display: none;
    }
}

@media (max-width:428px){
    body{overflow-x: hidden;}
    .first{
        background: linear-gradient(180deg, rgba(245, 71, 72, 0.06) 0%, rgba(245, 71, 72, 0) 100%);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height:100vh;
    }
    .secound{
        background-color: white;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height:100%;
    }
    #foods{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }

    #girl{
        display: none;
    }
    #pic_2{
        display: none;
    }
    #pic_4{
        display: none;
    }
    #pic_3{
        display: none;
    }
    #logo{
        width: 97px;
        height:62px;
        margin-left: 6%;
        margin-top: 5%;
    }
    #sandwich{
        width: 36px;
        height:27px ;
        margin-right: 6%;
        margin-top: 5%;
    }
    #red_button_2{
        display: none;
    }
    #links{
        display: none;
    }
    #search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-start;
        margin-top: 32px;
        margin-bottom: 30px;
    }
    .part2{
        display: flex;
        flex-direction: row;
        margin-bottom: 90px;
        justify-content:space-between;
        align-items: center;
        margin-left: 13%;
    }
    .chef{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #Today{
        font-family: 'Sofia Pro';
        font-weight: 700;
        font-size: 48px;
        line-height: 67.2px;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 44%;
        margin-bottom: 2%;
    }
    #lorem{
        font-family: 'Sofia Pro';
        font-weight: 400;
        font-size: 18px;
        line-height: 24.16px;
        letter-spacing: 0px;
        text-align: center;
        opacity: 80%;
        margin-bottom: 5%;
        margin-left: 1%;
        margin-right: 1%;
    }
    #img_chef {
        height: 513px;
        width: 458px;
    }
    #img_chef img {
        height: 760px;
        width: 610px;
        margin-left: 3%;
        margin-top: -12%;
    }
    .secound{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #text_part{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4%;
        /* margin-right: 10%;
        margin-left: -12%;
        margin-top: 6%; */
    
    }
    #t_chef{
        font-family: 'Sofia Pro';
        font-weight: 700;
        font-size: 48px;
        line-height: 62.35px;
        letter-spacing: 0%;
        width: 380px;
        height: 186px;
        margin-left: 48%;
    }
    #p_chef{
        font-family: 'Sofia Pro';
        font-weight: 400;
        font-size: 18px;
        line-height: 24.16px;
        letter-spacing: 0%;
        width: 381px;
        height: 120px;
        margin-left: 50%;
        margin-top: 15%;

    }
    #search_box input{
        width: 84vw;
        height: 9.5vh;
        border-radius: 42px;
        border: 0.86px;
        border: 0.86px solid #FFFFFF99;
        backdrop-filter: blur(8px);
        background: #FFFFFF26;
        border-color: rgb(117, 117, 117) ;
        /* margin-left: 24px;
        margin-right: 24px; */
    }
    .items{
        display: flex;
        flex-direction: column;
        gap: 10%;
        margin-top: 22%;
        margin-left: -70%;
    }
    #item_1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #item_2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #AboutUs{
        background: #F54748;
        width: 114px;
        height: 45px;
        border-radius: 100px;
        border-color: white;
        font-family: 'Sofia Pro';
        color: white;
        font-size: 18px;
        margin-top: 10%;
        margin-left: -90%;
    }
    #Menue{
        width: 363px;
        height: 201px;
        font-family: 'Sofia Pro';
        font-weight: 700;
        font-size: 48px;
        line-height: 67.2px;
        letter-spacing: 0px;
        text-align: center;
        /* margin-bottom: 5%;
        margin-top: 5%; */
    }
    #pic_1 img{
        width: 70vw;
        height: 516px;
    }
    #pic_2_2 img{
        display: none;
    }
    #pic_3_2 img{
        display: none;
    }
    #pic_4_2 img{
        display: none;
    }
    #pic_1_3 img{
        display: none;
    }
    #pic_2_3 img{
        display: none;
    }
    #pic_3_3 img{
        display: none;
    }
    #pic_4_3 img{
        display: none;
    }
    #pic_1_2 img{
        width: 70vw;
        height: 516px;
    }
    #Dinner{
        display: none;
    }
    #Maxican{
        display: none;
    }
    #Italian{
        display: none;
    }
    #Desserts{
        display: none;
    }
    #Drinks{
        display: none;
    }
    #chef_man{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #chef_man img{
        width: 450px;
        height: 500px;
    }
    .fourth{
        
    }

}